<p-toast position="top-right" key="test" appendTo="body"></p-toast>

<p-fluid class="grid grid-cols-12 gap-8 px-4">
    <div class="col-span-12 xl:col-span-12">
        <div class="card">
            <div class="p-formgroup-inline flex flex-wrap gap-3 align-items-center">
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">設備1</div>
                    <p-dropdown [(ngModel)]="lineGroups[0].value" [options]="lineGroups[0].values" optionLabel="name" placeholder="Select"/>
                </div>
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">設備2</div>
                    <p-dropdown [(ngModel)]="lineGroups[1].value" [options]="lineGroups[1].values" optionLabel="name" placeholder="Select"/>
                </div>
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">設備3</div>
                    <p-dropdown [(ngModel)]="lineGroups[2].value" [options]="lineGroups[2].values" optionLabel="name" placeholder="Select"/>
                </div>
                <div class="flex align-items-center gap-20">
                    <p-button label="更新" (onClick)="displayCharts()"></p-button>
                </div>
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">自動更新（60秒ごと）</div>
                    <div class="checkbix-row">
                        <p-checkbox inputId="autoRefresh" [binary]="true" [(ngModel)]="checked" styleClass="cb-scale" 
                        (onChange)="onToggle($event.checked)"></p-checkbox>
                    </div>
                </div>
                <div class="font-semibold text-2xl">
                    <p>最終更新: {{ view.lastUpdated | date:'yyyy/MM/dd HH:mm:ss' }}</p>
                </div>
           </div>
        </div>
    </div>
            
    <div class="col-span-12 xl:col-span-12">
        <div class="card">
            <!-- <div class="font-semibold text-2xl mb-2">設備1</div> -->
            <p-chart type="bar" [data]="ToolChartGroups[0].Data" [options]="ToolChartGroups[0].Options" style="height: 550px;"></p-chart>
        </div>
    </div>

    <div class="col-span-12 xl:col-span-12">
        <div class="card">        
            <!-- <div class="font-semibold text-2xl mb-2">設備2</div> -->
            <p-chart type="bar" [data]="ToolChartGroups[1].Data" [options]="ToolChartGroups[1].Options" style="height: 550px;"></p-chart>
        </div>
    </div>

    <div class="col-span-12 xl:col-span-12">
        <div class="card">        
            <!-- <div class="font-semibold text-2xl mb-2">設備3</div> -->
            <p-chart type="bar" [data]="ToolChartGroups[2].Data" [options]="ToolChartGroups[2].Options" style="height: 550px;"></p-chart>
        </div>
    </div>
</p-fluid>