<p-toast position="top-right" key="test" appendTo="body"></p-toast>

<p-fluid class="grid grid-cols-12 gap-8 px-4">
    <div class="col-span-12 xl:col-span-12">
        <div class="card">
            <!-- UI部分 ドロップダウンリスト・ボタンなど -->
            <div class="p-formgroup-inline flex flex-wrap gap-5 align-items-center">
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">設備</div>
                    <p-dropdown [(ngModel)]="lineGroups[0].value" [options]="lineGroups[0].values" optionLabel="name" placeholder="Select"
                    (onChange)="onDropdownChange()" />
                </div>
                <div class="flex align-items-center gap-2">
                    <div class="font-semibold text-2xl">表示切替</div>
                    <div class="scheduler-toggle">
                        <p-togglebutton [(ngModel)]="toggleValue" [disabled]="toggleDisabled" onLabel="ライン別" offLabel="グループ別" [style]="{ width: '20em' }"
                        (onChange)="onToggleChange()" />
                    </div>
                </div>
                
                <p-button label="更新" (onClick)="displayCharts()"></p-button>
                
                <div class="flex align-items-center">
                    <div class="font-semibold text-2xl">自動更新（60秒ごと）</div>
                    <div class="checkbox-row">
                        <p-checkbox inputId="autoRefresh" [binary]="true" [(ngModel)]="checked" styleClass="cb-scale" 
                        (onChange)="onToggle($event.checked)"></p-checkbox>
                    </div>
                </div>
                <div class="font-semibold text-2xl">
                    <p>最終更新: {{ view.lastUpdated | date:'yyyy/MM/dd HH:mm:ss' }}</p>
                </div>
            </div>
            <!-- 表示部分　グラフ・データテーブル -->
            <!-- card flexかflexのみかはお好みで設定 -->
            <div class="card flex flex-col gap-6 w-full" style="min-height: 0; overflow: auto;">
            <!-- 行全体の高さをここで設定 -->
            <div class="flex flex-col md:flex-row gap-6">
                <!-- 左側:Chart(画面の2/3) *ngforを使用してパターンに合わせてグラフの数を変更-->
                <div class="flex flex-wrap gap-2 w-full md:basis-2/3" style="min-height: 0;">
                    <!-- チャートを左右で分割し右側に外部凡例を配置 -->
                    <div class="chart-row">
                        <!-- 左側:チャート -->
                        <div class="chart-canvas">
                            <div class="schedule-chart" style="min-width: 0; width: 100%;">
                            <ng-container *ngFor="let group of ToolChartGroups; let i = index; trackBy: trackByIndex">
                                <!-- <div class=" gap-2 w-full" style="min-height: 0;" [ngStyle]="{height: (ToolChartGroups.length === 1 ? chartHeight + 'px' : null)}"> -->
                                <div class="w-full chart-with-vertical-title" style="min-height: 0;" 
                                [ngStyle]="{height: (ToolChartGroups.length === 1 ? chartHeight + 'px' : null)}">
                                    <!-- 縦書きのY軸タイトル(左に重ねて表示) -->
                                    <div class="y-axis-vertical-title">
                                        {{ YaxisTitle }}
                                    </div>
                                    <!-- グラフ本体 -->
                                    <p-chart type="bar" [data]="group.Data"
                                            [options]="group.Options" 
                                            [plugins]="[htmlLegendPlugin]"
                                            [height]="chartHeight + 'px'"
                                            [style.height.px]="chartHeight"
                                            >
                                    </p-chart>
                                </div>
                            </ng-container>
                            </div>
                        </div>
                        <!-- 右側:外部凡例コンテナ -->
                         <div class="chart-legend" [id]="'legend'"></div>
                    </div>

                </div>
                <!-- 右側:Table(画面の1/3) -->
                <div class="flex flex-wrap gap-2 w-full md:basis-1/3" style="min-height: 0;">
                    <div class="w-full">
                        <!-- <div class="font-semibold text-2xl mb-2">残り時間予測</div> -->
                        <div class="schedule-page-table">           
                            <p-table [value]="rows" [columns]="cols" [paginator]="true" [rows]="10" [resizableColumns]="true"
                                    columnResizeMode="fit" [rowHover]="true" dataKey="machine_no" [responsiveLayout]="'scroll'">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                    <col *ngFor="let col of columns" [style.width]="col.width || 'auto'"/>
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                    <th *ngFor="let col of columns" pResizableColumn>
                                        {{ col.header }}
                                    </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-columns="columns">
                                    <tr [ngClass]="rowStyleClass(row)">
                                    <td *ngFor="let col of columns">
                                        {{ row[col.field] }}
                                    </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</p-fluid>

<!-- <div class="w-full">
        <div class="font-semibold text-2xl mb-2">残り時間予測</div>
        <div class="schedule-page-table">           
            <p-table [value]="rows" [columns]="cols" [paginator]="true" [rows]="10" [resizableColumns]="true"
                    columnResizeMode="fit" [rowHover]="true" dataKey="machine_no" [responsiveLayout]="'scroll'">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width || 'auto'"/>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                    <th *ngFor="let col of columns" pResizableColumn>
                        {{ col.header }}
                    </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-columns="columns">
                    <tr [ngClass]="rowStyleClass(row)">
                    <td *ngFor="let col of columns">
                        {{ row[col.field] }}
                    </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div> -->