<p-fluid class="grid grid-cols-12 gap-8 px-4">
    <div class="col-span-12 xl:col-span-12">
        <div class="card">
            <div class="p-formgroup-inline flex flex-wrap gap-3 align-items-center">
                <p-datepicker
                    [(ngModel)]="selectedDate"
                    view="month"
                    dateFormat="yy/mm"
                    [yearNavigator]="true"
                    yearRange="2020:2035"
                    [maxDate]="maxDate"
                    showIcon="true">
                </p-datepicker>
            </div>
        </div>
    </div>
</p-fluid>